body {
  margin: 0;
  padding: 0;
  font-family: Arial;
  background-color: #b9c9ff
}

#welcome {
  font-size: 27px;
  display:block;
}

#container {
  display:flex;
  justify-content:space-evenly;
  align-items:center;
  flex-direction:column;
  height:92vh;
  width:100vw;
}

#text-field {
  grid-area: text-field;
  display:flex;
  align-items:center;
  justify-content:flex-end;
}

#display {
  display:flex;
  justify-content:flex-end;
  border:0;
  outline:0;
  background-color: #1594dd;
  caret-color: #1594dd;
  font-size:40px;
  color:black;
  width:100%;
  text-align:right;
  box-sizing: border-box;
  padding: 0 3% 0 1.3%;
  font-family: Arial;
  overflow: hidden;
}

#reciprocal {
  grid-area: reciprocal
}

#sqroot {
  grid-area: sqroot
}

#power {
  grid-area: power
}

#log {
  grid-area: log
}

#sin {
  grid-area: sin
}

#cos {
  grid-area: cos
}

#pa-1 {
  grid-area: pa-1
}

#pa-2 {
  grid-area: pa-2
}

#seven {
  grid-area: seven
}

#eight {
  grid-area: eight
}

#nine {
  grid-area: nine
}

#AC {
  grid-area: AC
}

#four {
  grid-area: four
}

#five {
  grid-area: five
}

#six {
  grid-area: six
}

#DEL {
  grid-area: DEL;
}

#one {
  grid-area: one
}

#two {
  grid-area: two
}

#three {
  grid-area: three
}

#p-m {
  grid-area: p-m;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

#zero {
  grid-area: zero
}

#dot {
  grid-area: dot
}

#equal {
  grid-area: equal;
}

#m-d {
  grid-area: m-d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

#plus,
#minus,
#m,
#d {
  height: 50%;
  width: 100%;
}

#grid-container {
  display: inline-grid;
  background-color: #1594dd;
  width:320px;
  height: 520px;
  grid-template-rows: 23.07% 7.69% 7.69% 15.38% 15.38% 15.38% 15.38%;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-areas:
    "text-field text-field text-field text-field"
    "reciprocal sqroot power log"
    "sin cos pa-1 pa-2"
    "seven eight nine AC"
    "four five six DEL"
    "one two three p-m"
    "zero dot equal m-d";
  border: 1px #1594dd solid
}